body{
    text-align: center;
    background-color: cyan;
}
body{
    margin: 0;
    font-family: sans-serif;
}
h1{
    text-align: center;
    margin: auto;
    margin-top: 25;
    color: blue;
}
#header{
    text-align: center;
}
#contact-list-container ul{
    padding: 0;
    list-style: none;
}
#contact-list-container{
    text-align: center;
} 
.contact.details{
    text-align: center;
}
.contact{
    padding: 3px 10px;
    border: 1px solid white;
    background-color: #6f92f9;
    box-shadow: 1px 1px 1px 1px lightgrey;
    color: white;
}
.contact.details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;

}
.contact p{
    margin: 5px 0;
    text-align: center;
}
.contact.details-button{
    width: 10%;
    padding: 3px;
    text-align: center;
    margin-top: 5px;
}
.contact.details-button a{
    color: white;
    background-color: red;
}